:root {
  /* Font */
  --font-family: "Work Sans", sans-serif;
  --font-size-sm: 12px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* Colors */
  --primary-color-hue: 271;
  --primary-color-saturation: 100%;
  --primary-color-lightness: 50%;

  --secondary-color-hue: 35;
  --secondary-color-saturation: 100%;
  --secondary-color-lightness: 50%;

  --error-color-hue: 339;
  --error-color-saturation: 100%;
  --error-color-lightness: 50%;

  /* Derived colors */
  --primary-color: hsl(
    var(--primary-color-hue),
    var(--primary-color-saturation),
    var(--primary-color-lightness)
  );
  --primary-color-lighter-1: hsl(
    var(--primary-color-hue),
    var(--primary-color-saturation),
    calc(var(--primary-color-lightness) + 15%)
  );
  --primary-color-lighter-2: hsl(
    var(--primary-color-hue),
    var(--primary-color-saturation),
    calc(var(--primary-color-lightness) + 30%)
  );
  --primary-color-darker-1: hsl(
    var(--primary-color-hue),
    var(--primary-color-saturation),
    calc(var(--primary-color-lightness) - 15%)
  );
  --primary-color-darker-2: hsl(
    var(--primary-color-hue),
    var(--primary-color-saturation),
    calc(var(--primary-color-lightness) - 30%)
  );

  --secondary-color: hsl(
    var(--secondary-color-hue),
    var(--secondary-color-saturation),
    var(--secondary-color-lightness)
  );
  --secondary-color-lighter-1: hsl(
    var(--secondary-color-hue),
    var(--secondary-color-saturation),
    calc(var(--secondary-color-lightness) + 15%)
  );
  --secondary-color-lighter-2: hsl(
    var(--secondary-color-hue),
    var(--secondary-color-saturation),
    calc(var(--secondary-color-lightness) + 30%)
  );
  --secondary-color-darker-1: hsl(
    var(--secondary-color-hue),
    var(--secondary-color-saturation),
    calc(var(--secondary-color-lightness) - 15%)
  );
  --secondary-color-darker-2: hsl(
    var(--secondary-color-hue),
    var(--secondary-color-saturation),
    calc(var(--secondary-color-lightness) - 30%)
  );

  --error-color: hsl(
    var(--error-color-hue),
    var(--error-color-saturation),
    var(--error-color-lightness)
  );
  --error-color-lighter-1: hsl(
    var(--error-color-hue),
    var(--error-color-saturation),
    calc(var(--error-color-lightness) + 15%)
  );
  --error-color-lighter-2: hsl(
    var(--error-color-hue),
    var(--error-color-saturation),
    calc(var(--error-color-lightness) + 30%)
  );
  --error-color-darker-1: hsl(
    var(--error-color-hue),
    var(--error-color-saturation),
    calc(var(--error-color-lightness) - 15%)
  );
  --error-color-darker-2: hsl(
    var(--error-color-hue),
    var(--error-color-saturation),
    calc(var(--error-color-lightness) - 30%)
  );
}

.chat-history {
  width: 800px;
  height: 400px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  /* rounded corners */
  border-radius: 5px;

  background-color: var(--secondary-color-lighter-2);
}

.chat-history-message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  align-self: flex-start;

  border-radius: 5px;

  background-color: var(--primary-color-darker-2);
  color: var(--primary-color-lighter-2);
}
