:root {
    --mcgradient: linear-gradient(90deg, #FFB3BB 0%, #FFDFBA 26.56%, #FFFFBA 50.52%, #87EBDA 76.04%, #BAE1FF 100%);
    --mcgradient-hover: linear-gradient(90deg, #FFA8B1 0%, #FFD9AD 26.56%, #FFFFAD 50.52%, #80EAD8 76.04%, #ADDCFF 100%);
    --mcgradient-active: linear-gradient(90deg, #FF9EA8 0%, #FFD29E 26.56%, #FFFF9E 50.52%, #73E8D4 76.04%, #99D3FF 100%);
}

body {
    width: 265px;
    background: white;
    font-weight: 500;
    font-size: .9em;
    margin-bottom: 8px;
    font-family: 'Work Sans'
}

#header {
    width: 265px;


    line-height: 24px;
    font-size: 16px;
    color: black;
    background-color: white;

    border-bottom-color: #F0EFEF;
    border-bottom-width: 1px;

}

#headericon {
    /* position: absolute; 
    width: 134px;
    height: 25px;
    top: 9px;
    left: 12px; */
}

.body-container {
    margin-left: 8px;
    margin-top: 8px;
}

.button {
    cursor:pointer;
    width: 241px;

    border-radius: 12px;

    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #565D6D;

    display:inline-block;
    padding:8px;
}

.primary-btn:hover {
    background:var(--mcgradient-hover);
}

.primary-btn:active {
    background:var(--mcgradient-active);
}

.primary-btn {
    background: var(--mcgradient);
}

.secondary-btn {
    background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, #FFB3BB 0%, #FFDFBA 26.56%, #FFFFBA 50.52%, #87EBDA 76.04%, #BAE1FF 100%) border-box;
    border: 2px solid transparent;
}
.secondary-btn:hover {
    background: linear-gradient(90deg, #FFD6DA 0%, #FFF6EB 26.56%, #FFFFEB 50.52%, #E0FAF6 76.04%, #EBF6FF 100%) padding-box,
    linear-gradient(90deg, #FFA8B1 0%, #FFD9AD 26.56%, #FFFFAD 50.52%, #80EAD8 76.04%, #ADDCFF 100%) border-box;
    border: 2px solid transparent;
}
.secondary-btn:active {
    background: linear-gradient(90deg, #FFC7CD 0%, #FFEAD1 26.56%, #FFFFD6 50.52%, #CFF7F0 76.04%, #D6EDFF 100%) padding-box,
    linear-gradient(90deg, #FFA8B1 0%, #FFD9AD 26.56%, #FFFFAD 50.52%, #80EAD8 76.04%, #ADDCFF 100%) border-box;
    border: 2px solid transparent;
}

#linkicon {
    /* right: 8px;
    top: 9px; */
}

#text-note {
    width: 233px;
    height: 100px;

    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    
    border-radius: 12px;  
}
.border {
    margin:12px 0; 
    height:1px; 
    background-color: #C6C6C6;
}

hr {
    color: #EDEDED
}

.button-element {
    width: 16px;
    height: 16px;
    margin-top: 4px;
}
