:root {
    --mcgradient: linear-gradient(90deg, #FFB3BB 0%, #FFDFBA 26.56%, #FFFFBA 50.52%, #87EBDA 76.04%, #BAE1FF 100%);
    --mcgradient-hover: linear-gradient(90deg, #FFA8B1 0%, #FFD9AD 26.56%, #FFFFAD 50.52%, #80EAD8 76.04%, #ADDCFF 100%);
    --mcgradient-active: linear-gradient(90deg, #FF9EA8 0%, #FFD29E 26.56%, #FFFF9E 50.52%, #73E8D4 76.04%, #99D3FF 100%);
    --neutral-content: #565D6D;
    --border-radius: 8px;   
}


body {
    background: white;
    font-weight: 500;
    font-size: .9em;
    font-family: 'Work Sans';
    width: 290px;
}

#header {
    line-height: 24px;
    font-size: 16px;
    color: black;
    background-color: white;

    border-bottom-color: #F0EFEF;
    border-bottom-width: 1px;
}

#headericon {
    /* position: absolute; 
    width: 134px;
    height: 25px;
    top: 9px;
    left: 12px; */
}

.body-container {
    padding:8px;
    display:flex;
    flex-direction: column;
}

.button {
    cursor:pointer;
    border-radius: var(--border-radius);

    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #565D6D;

    padding:8px;
}

.primary-btn {
    background: var(--mcgradient);
}
.primary-btn:hover {
    background:var(--mcgradient-hover);
}
.primary-btn:active {
    background:var(--mcgradient-active);
}


.secondary-btn {
    background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, #FFB3BB 0%, #FFDFBA 26.56%, #FFFFBA 50.52%, #87EBDA 76.04%, #BAE1FF 100%) border-box;
    border: 2px solid transparent;
}
.secondary-btn:hover {
    background: linear-gradient(90deg, #FFD6DA 0%, #FFF6EB 26.56%, #FFFFEB 50.52%, #E0FAF6 76.04%, #EBF6FF 100%) padding-box,
    linear-gradient(90deg, #FFA8B1 0%, #FFD9AD 26.56%, #FFFFAD 50.52%, #80EAD8 76.04%, #ADDCFF 100%) border-box;
    border: 2px solid transparent;
}
.secondary-btn:active {
    background: linear-gradient(90deg, #FFC7CD 0%, #FFEAD1 26.56%, #FFFFD6 50.52%, #CFF7F0 76.04%, #D6EDFF 100%) padding-box,
    linear-gradient(90deg, #FFA8B1 0%, #FFD9AD 26.56%, #FFFFAD 50.52%, #80EAD8 76.04%, #ADDCFF 100%) border-box;
    border: 2px solid transparent;
}

.text-field {
    margin-bottom:8px;
}
.text-field textarea {
    width: 96%;
}
.text-field label {
    color: var(--neutral-content);
}

#text-note {
    height: 100px;
    border-radius: var(--border-radius);
}


.border {
    margin:16px 0; 
    height:1px; 
    background-color: #C6C6C6;
    border-radius: var(--border-radius);
}


.footer {
    background-color: #F0EFEF;
    padding:8px;
}
.footer a {
    text-decoration: none;
    color:black;
    font-size: 14px;
    font-weight: 400;
}

.foooter a:hover {
    color: var( --neutral-content);
}