@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap");
html, body {
  font-family: 'Work Sans', sans-serif;
  background: linear-gradient(90deg, #FFB3BB 0%, #FFDFBA 26.56%, #FFFFBA 50.52%, #87EBDA 76.04%, #BAE1FF 100%);
  padding: 0;
  margin: 0; }

section {
  max-width: 800px;
  margin: auto; }

header {
  margin: 24 0; }
  header .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto; }
    header .content .logo {
      width: 170px;
      height: 33px;
      margin: auto 0; }
    header .content nav ul {
      display: flex;
      list-style-type: none; }
      header .content nav ul li a {
        margin: 12px;
        text-decoration: none;
        color: #2d3d46;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; }

.hero {
  padding: 40px; }

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.features article {
  max-width: 360px; }

p {
  font-size: 1em;
  line-height: 150%; }

.heading-1 {
  color: #2d3d46;
  font-size: 1.4em;
  line-height: 150%;
  font-weight: 400; }

.heading-2 {
  color: #2d3d46;
  font-size: .8em;
  line-height: 150%;
  font-weight: 400; }

.heading-3 {
  color: #2d3d46;
  font-size: 1em;
  line-height: 150%;
  font-weight: 400; }

button {
  font-family: 'Work Sans', sans-serif; }

.banner-bar {
  width: 100%;
  height: 100%;
  background: #FFFFFF4D;
  padding: 16px 0;
  margin: 40px 0; }

.primary-button {
  color: #180AB8;
  background-color: #FFFFFF6D;
  font-size: 1em;
  font-weight: 500;
  line-height: 24px;
  padding: 16px 24px;
  background: #FFFFFF;
  border: none;
  transition: background-color 0.2s ease;
  border-radius: 8px; }

.primary-button:hover {
  background-color: #FFFFFF8D;
  cursor: pointer; }

.accordion-content {
  max-height: 0;
  padding: 0 12px;
  overflow: hidden;
  transition: max-height 0.2s ease;
  border: 0px;
  border-top: none;
  margin-bottom: 12px; }

.accordion-button {
  background-color: #FFFFFF2D;
  color: #2d3d46;
  border: none;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: background-color 0.2s ease;
  font-size: 1em;
  border-radius: 8px; }

.accordion-button:hover {
  background-color: #FFFFFF6D; }

.accordion-button:after {
  content: '\002B';
  /* Unicode character for "plus" sign (+) */
  color: #777;
  float: right;
  margin-left: 5px; }

.accordion-button.active:after {
  content: "\2212";
  /* Unicode character for "minus" sign (−) */ }
