@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap');

body {
    font-family: 'Work Sans';
}

.site-title {
    font-family: 'Work Sans';
    color: coral;
}

.post-title {

}